html {
	font-family: "Segoe UI", sans-serif;
}

body {
	margin: 0;
	min-width: 800px;
}

nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: aquamarine;
	box-shadow: 0px 0px 20px 1px;
	height: 60px;
}

nav img {
	height: 30px;
	display: block;
	padding: 15px;
}

.nav-links {
	display: flex;
	justify-content: end;
	list-style: none;
	height: 100%;
	margin: 0;
}

.nav-link {
	height: 100%;
	width: 120px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	display: inline-block;
	text-decoration: none;
	color: black;
	height: 50%;
	width: 50%;
	padding: 10px 20px;
	margin: 5px 10px;
}

.nav-link:hover {
	background-color: rgb(173, 255, 228);
}

.nav-link:active {
	background-color: rgb(0, 255, 170);
	transition: 0.1s;
}

.profile-link {
	background-color: rgb(70, 255, 193);
	transition: 0.2s;
}

.profile-link:hover {
	background-color: rgb(143, 252, 216);
}

.profile-link:active {
	background-color: rgb(18, 255, 176);
	box-shadow: none;
}

.profile-link-container {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

.profile-link-container * {
	margin: 0;
	padding: 0;
}

.profile-link-container img {
	border-radius: 100%;
	background-color: lightgray;
}

.profile-link-container p {
	display: inline-block;
	text-align: start;
}

.nav-show {
	position: fixed;
	top: 70px;
	left: 10px;
	box-shadow: 5px 5px 10px darkslategrey;
	transition: 0.3s;
	border-radius: 25px;
	background-color: aquamarine;
	border-style: none;
	padding: 25px;
}

.nav-show:hover {
	background-color: rgb(171, 251, 224);
	cursor: pointer;
}

.nav-show:active {
	background-color: rgb(83, 255, 198);
	box-shadow: 3px 3px 5px;
}

.greetings-screen {
	width: 400px;
	margin: 40px auto;
	padding: 30px;
}

.greetings-text {
	text-align: center;
}

.greetings-text-sitesname {
	font-family: "PT Mono", monospace;
	font-weight: bold;
	font-size: 32px;
	margin: 0;
}

.greetings-text-message {
	margin: 0;
}

.greetings-text-brief {
	margin: 10px;
	font-style: italic;
	font-size: 14px;
}

main {
	margin-top: 100px;
}

.main-buttons {
	border: 1px solid black;
	border-radius: 20px;
	background-color: aquamarine;
	box-shadow: 9px 9px 15px darkslategrey;
	min-height: 255px;
	padding: 40px;
	margin: 20px;
}

.main-buttons button {
	display: flex;
	justify-content: space-evenly;
	transition: 0.3s;
	text-decoration: none;
	color: black;
	background: none;
	border: none;
	border-radius: 20px;
	width: 100%;
	padding: 20px;
}

.main-buttons button:hover {
	background-color: rgb(171, 251, 224);
	box-shadow: 7px 7px 15px darkslategrey;
	border-radius: 20px;
	cursor: pointer;
}

.main-buttons button:active {
	background-color: rgb(70, 255, 193);
	box-shadow: 9px 9px 5px darkslategrey;
	cursor: pointer;
}

.buttons-text {
	width: 50%;
}

.buttons-name {
	font-family: "PT Mono", monospace;
	font-weight: bold;
	font-size: 32px;
}

.buttons-description {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 14px;
}

.left .buttons-description {
	padding-left: 40px;
	margin-right: 160px;
}

.right .buttons-description {
	padding-right: 40px;
	margin-left: 160px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.main-buttons button img {
	height: 150px;
}

footer {
	background-color: lightgray;
	height: 60px;
	padding: 30px;
}

.additions {
	text-align: center;
	margin: 0px;
}

.additions a {
	text-decoration: none;
	color: black;
}

.additions a:active {
	font-weight: bold;
}
