.greetings-screen-profile {
	width: 90%;
	margin: 40px auto;
	padding: 30px;
}

.greetings-text-profile {
	font-family: "PT Mono", monospace;
	font-weight: bold;
	font-size: 32px;
	margin: 0;
}

.profile {
	border: 1px solid #000000;
	border-radius: 20px;
	background-color: aquamarine;
	box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.799);
	min-height: 255px;
	padding: 40px;
	margin: 20px;
}
